<!DOCTYPE html>
<html ng-app="viewerApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-controller="mainCtrl">
<a href="https://github.com/ColCarroll/march_madness_viewer/tree/gh-pages"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
<div class="jumbotron">
    <div class="container">
        <h1>March Madness 2015 Predictions</h1>
        <p>
            Some predictions made for the 2015 <a href="https://www.kaggle.com/c/march-machine-learning-mania-2015">Kaggle prediction contest</a>.
            Predictions were made for all possible games, so you can enter two teams who won't even necessarily play.
        </p>
        <p>
            The model was written in <a href="https://www.python.org/">Python</a> using the wonderful
            <a href="http://scikit-learn.org/stable/">sklearn</a>, and the code used to train the model may be viewed
            <a href="https://github.com/ColCarroll/march_madness">here</a>.
        </p>
    </div>
</div>
<div class="container">
    <div class="col-md-2">
        <label for="teamEntry">Choose a team:</label>
        <input id="teamEntry" type="text" ng-model="entry" class="form-control" ng-change="updateChoices()">
        <div class="btn-group-vertical">
            <button ng-repeat="choice in entryPossibilities" class="btn btn-primary" ng-click="addTeam(choice)">{{choice}}</button>
        </div>
    </div>

    <div class="col-md-2">
        <div class="row">
            <div class="pickedTeam col-md-12" ng-show="teamOne.length > 0"><h5>{{teamOne}}</h5></div>
        </div>
        <div class="row">
            <div class="pickedTeam col-md-12" ng-show="teamTwo.length > 0"><h5>{{teamTwo}}</h5></div>
        </div>
        <button class="btn btn-warning" ng-click="reset()" style="float: right;">Reset</button>
    </div>
    <div class="col-md-8">
        <h4>{{message}}</h4>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>See some of my other projects <a href="http://colindcarroll.com/">here</a>!</p>
    </div>
</footer>
</body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="static/js/app.js"></script>
</html>